@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">LIGHTS PLEASE</h1>
        <p class="lead">Aplicación Lights Please</p>
    </section>

    
</main>